name: CI

on:
  push:
    branches: [ main ] #develop

env:
  AWS_REGION: il-central-1 
  S3_BUCKET: touch-to-learn-website-test-demo

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: 0

    - name: Merge main into develop before build
      if: github.ref == 'refs/heads/main'
      run: |
        git fetch origin develop
        git checkout -B develop origin/develop
        git merge origin/main --no-commit --no-ff
    
    - name: start with Setup Node.js
      uses: actions/setup-node@v3
      with:
        node-version: '20'
        cache: 'npm'
    
    - name: Install dependencies
      run: npm ci

    
    - name: Build
      run: npm run build

    - name: Done
      run: echo "Build completed successfully"

  deploy:
    needs: build
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/main'
    steps:
    - uses: actions/checkout@v4
    
    - name: Setup Node.js
      uses: actions/setup-node@v3
      with:
        node-version: '20'
        cache: 'npm'
    
    - name: Install dependencies
      run: npm ci #clean install dependencies
    
    - name: Build
      run: npm run build
      
    - name: Configure AWS credentials
      uses: aws-actions/configure-aws-credentials@v4
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: ${{ env.AWS_REGION }}
        
    - name: Deploy to S3
      run: | 
        echo "Using bucket ${{ env.S3_BUCKET }}, deploying build/ and deleting old files"
        aws s3 sync build/ s3://${{ env.S3_BUCKET }} --delete
        
