name: CI

on:
  push:
    branches: [ develop ]

env:
  AWS_REGION: il-central-1 # Change this to your AWS region
  S3_BUCKET: touch-to-learn-website-test-demo # Change this to your S3 bucket name

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    
    - name: Setup Node.js
      uses: actions/setup-node@v3
      with:
        node-version: '20'
        cache: 'npm'
    
    - name: Install dependencies
      run: npm ci

    
    - name: Build
      run: npm run build


  # preview:
  #   needs: build
  #   runs-on: ubuntu-latest
  #   if: github.event_name == 'pull_request'
  #   env:
  #     MY_VAR: ${{ needs.build.outputs.MY_VAR }}
  #   steps:
  #   - run: echo "Preview sees MY_VAR=$MY_VAR"


  deploy:
    needs: build
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/develop'
    env:
      MY_VAR: ${{ needs.build.outputs.MY_VAR }}
    steps:
    - run: echo "Deploy sees MY_VAR=$MY_VAR"
    - name: Deploy to S3
      run: |
        echo "Using bucket ${{ env.S3_BUCKET }} and build var $MY_VAR"
        aws s3 sync dist/ s3://${{ env.S3_BUCKET }} --delete

